
 <!-- Recent View section -------------- -->
      <div id="recentDiv">
        <div class="recentOuterDiv">
          <div class="recentSliderDiv">
            <div class="sliderRecent"></div>
          </div>

          <button class="nextPreIcon" href="#" id="prevRecent">
            <i
              class="fa fa-chevron-left"
              style="color: black; font-size: 15px"
            ></i>
          </button>
          <button class="nextPreIcon" href="#" id="nextRecent">
            <i
              class="fa fa-chevron-right"
              style="color: black; font-size: 15px"
            ></i>
          </button>
        </div>
      </div>