<div class="sliderBlogSection">
  <div style="width: 85%; margin: auto">
    <p style="font-size: 2.6vw !important; margin: 0 0 0 35px">
      Amazing Results
    </p>
    <p
      style="
        font-size: 1.75vw !important;
        margin: 0 0 0 35px;
        color: rgb(108, 108, 108);
      "
    >
      Our results speak for itself
    </p>
  </div>
  <div class="outerDiv">
    <div class="resultSliderDiv">
      <div class="resultSlider">
        <div id="cartDivRe">
          <div class="imgResultDiv">
            <div>
              <img
                style="border-radius: 24px 0 0 0"
                src="https://res.cloudinary.com/mosaic-wellness/image/upload/f_auto,w_400,c_limit/v1605618648/staging/Home/before-after/acne-scar-control-advanced-pack/before.jpg"
                alt=""
              />
              <div class="before">BEFORE</div>
            </div>
            <div>
              <img
                style="border-radius: 0 24px 0 0"
                src="https://res.cloudinary.com/mosaic-wellness/image/upload/f_auto,w_400,c_limit/v1605618648/staging/Home/before-after/acne-scar-control-advanced-pack/After.jpg"
                alt=""
              />
              <div class="after">AFTER</div>
            </div>
          </div>
          <div class="imgIcon">
            <img
              src="https://res.cloudinary.com/mosaic-wellness/image/upload/v1626519056/staging/Group_1449.png"
              alt=""
            />
          </div>
        </div>
        <div id="cartDivRe">
          <div class="imgResultDiv">
            <div>
              <img
                style="border-radius: 24px 0 0 0"
                src="https://res.cloudinary.com/mosaic-wellness/image/upload/f_auto,w_400,c_limit/v1605618907/staging/Home/before-after/hair-restore-edition-1/Before.jpg"
                alt=""
              />
              <div class="before">BEFORE</div>
            </div>
            <div>
              <img
                style="border-radius: 0 24px 0 0"
                src="https://res.cloudinary.com/mosaic-wellness/image/upload/f_auto,w_400,c_limit/v1605618907/staging/Home/before-after/hair-restore-edition-1/After.jpg"
                alt=""
              />
              <div class="after">AFTER</div>
            </div>
          </div>
          <div class="imgIcon">
            <img
              src="https://res.cloudinary.com/mosaic-wellness/image/upload/v1626519056/staging/Group_1449.png"
              alt=""
            />
          </div>
        </div>
        <div id="cartDivRe">
          <div class="imgResultDiv">
            <div>
              <img
                style="border-radius: 24px 0 0 0"
                src="https://res.cloudinary.com/mosaic-wellness/image/upload/f_auto,w_400,c_limit/v1605618906/staging/Home/before-after/clear-skin-edition-2/before.jpg"
                alt=""
              />
              <div class="before">BEFORE</div>
            </div>
            <div>
              <img
                style="border-radius: 0 24px 0 0"
                src="https://res.cloudinary.com/mosaic-wellness/image/upload/f_auto,w_400,c_limit/v1605618906/staging/Home/before-after/clear-skin-edition-2/after.jpg"
                alt=""
              />
              <div class="after">AFTER</div>
            </div>
          </div>
          <div class="imgIcon">
            <img
              src="https://res.cloudinary.com/mosaic-wellness/image/upload/v1626519056/staging/Group_1449.png"
              alt=""
            />
          </div>
        </div>
        <div id="cartDivRe">
          <div class="imgResultDiv">
            <div>
              <img
                style="border-radius: 24px 0 0 0"
                src="https://res.cloudinary.com/mosaic-wellness/image/upload/f_auto,w_400,c_limit/v1605618906/staging/Home/before-after/clear-skin-edition-1/Before.jpg"
                alt=""
              />
              <div class="before">BEFORE</div>
            </div>
            <div>
              <img
                style="border-radius: 0 24px 0 0"
                src="https://res.cloudinary.com/mosaic-wellness/image/upload/f_auto,w_400,c_limit/v1605618905/staging/Home/before-after/clear-skin-edition-1/After.jpg"
                alt=""
              />
              <div class="after">AFTER</div>
            </div>
          </div>
          <div class="imgIcon">
            <img
              src="https://res.cloudinary.com/mosaic-wellness/image/upload/v1626519056/staging/Group_1449.png"
              alt=""
            />
          </div>
        </div>

        <div id="cartDivRe">
          <div class="imgResultDiv">
            <div>
              <img
                style="border-radius: 24px 0 0 0"
                src="https://res.cloudinary.com/mosaic-wellness/image/upload/f_auto,w_400,c_limit/v1605618908/staging/Home/before-after/hair-restore-edition-2/before.jpg"
                alt=""
              />
              <div class="before">BEFORE</div>
            </div>
            <div>
              <img
                style="border-radius: 0 24px 0 0"
                src="https://res.cloudinary.com/mosaic-wellness/image/upload/f_auto,w_400,c_limit/v1605618904/staging/Home/before-after/hair-restore-edition-2/After.jpg"
                alt=""
              />
              <div class="after">AFTER</div>
            </div>
          </div>
          <div class="imgIcon">
            <img
              src="https://res.cloudinary.com/mosaic-wellness/image/upload/v1626519056/staging/Group_1449.png"
              alt=""
            />
          </div>
        </div>

        <div id="cartDivRe">
          <div class="imgResultDiv">
            <div>
              <img
                style="border-radius: 24px 0 0 0"
                src="https://res.cloudinary.com/mosaic-wellness/image/upload/f_auto,w_400,c_limit/v1605618904/staging/Home/before-after/skin-regenerate-night-cream/Before.jpg"
                alt=""
              />
              <div class="before">BEFORE</div>
            </div>
            <div>
              <img
                style="border-radius: 0 24px 0 0"
                src="https://res.cloudinary.com/mosaic-wellness/image/upload/f_auto,w_400,c_limit/v1605618904/staging/Home/before-after/skin-regenerate-night-cream/After.jpg"
                alt=""
              />
              <div class="after">AFTER</div>
            </div>
          </div>
          <div class="imgIcon">
            <img
              src="https://res.cloudinary.com/mosaic-wellness/image/upload/v1626519056/staging/Group_1449.png"
              alt=""
            />
          </div>
        </div>

        <div id="cartDivRe">
          <div class="imgResultDiv">
            <div>
              <img
                style="border-radius: 24px 0 0 0"
                src="https://res.cloudinary.com/mosaic-wellness/image/upload/f_auto,w_400,c_limit/v1605618905/staging/Home/before-after/timeless-edition/Before.jpg"
                alt=""
              />
              <div class="before">BEFORE</div>
            </div>
            <div>
              <img
                style="border-radius: 0 24px 0 0"
                src="https://res.cloudinary.com/mosaic-wellness/image/upload/f_auto,w_400,c_limit/v1605618905/staging/Home/before-after/timeless-edition/After.jpg"
                alt=""
              />
              <div class="after">AFTER</div>
            </div>
          </div>
          <div class="imgIcon">
            <img
              src="https://res.cloudinary.com/mosaic-wellness/image/upload/v1626519056/staging/Group_1449.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="gradient"></div>

    <button class="nextPreIcon" id="prevResult" href="#">
      <i class="fa fa-chevron-left" style="color: black; font-size: 15px"></i>
    </button>
    <button class="nextPreIcon" id="nextResult" href="#">
      <i class="fa fa-chevron-right" style="color: black; font-size: 15px"></i>
    </button>
  </div>
</div>
